@use '../../../../../App.scss' as *;
@use '../../../../../mixins' as *;

.calender {
  @include all-menu-pages();

  .calendar-header-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    padding-right: 20px;
    .greet {
      margin: 0;
      font-size: x-large;
      font-weight: bold;
    }

    .info {
      margin: 0;
      font-size: large;
      color: rgb(130, 130, 130);
    }

    .toggle-group {
      background: var(--border);
      padding: 4px;
      border-radius: 15px;
      display: flex;

      button {
        background: transparent;
        color: var(--subtext);
        border: none;
        padding: 8px 16px;
        border-radius: 15px;
        cursor: pointer;

        &.active {
          background-color: var(--text);
          color: var(--bg);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .main-layout {
    display: flex;
    gap: 30px;
    padding-right: 20px;
    padding-bottom: 40px;

    .calendar-container {
      flex: 2;
      background: var(--card);
      color: var(--text);
      border: 1px solid var(--border);
      border-radius: 15px;

      .calendar-mode {
        padding-left: 20px;
      }

      .calendar-card {
        background: var(--bg);
        border: 1px solid var(--border);
        color: var(--subtext);
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
        justify-self: center;

        &.Monthly {
          width: 50%;
          justify-self: center;

          .calendar-header {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            button {
              border: 1px solid rgb(155, 155, 231);
              background: var(--card);
              color: var(--subtext);
              padding: 5px 15px;
              font-size: larger;
              border-radius: 8px;
              cursor: pointer;
            }
          }

          .week-labels {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            text-align: center;
            margin-bottom: 10px;
            color: var(--subtext);
            font-size: 14px;
            
          }

          .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 8px;

            .day {
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              // background-color: var(--subtext);
              // color: var(--bg);
              border-radius: 8px;
              cursor: pointer;

              &:hover {
                background-color: $accent-color;
                color: white;
              }

              &.selected {
                background-color: $accent-color;
                color: white;
                font-weight: bold;
              }

              &.is-today {
                background-color: #ec4899;
                color: white;
                font-weight: bold;
              }

              &.has-task{
                background-color: rgba(177, 159, 247, 0.155);
                &:hover {
                  background-color: $accent-color;
                  
                }
                &.selected {
                  background-color: $accent-color;
                  color: white;
                  font-weight: bold;
                }
                &.is-today {
                  background-color: #ec4899;
                  color: white;
                  font-weight: bold;
                }
              }
            }

          }
        }

        &.Weekly {
          background: transparent;
          width: 95%;
          border: none;

          .week-labels {
            font-size: 30px;
            color: gray;
          }

          .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 10px;

            .week-day-card {
              border: 1px solid var(--border);
              background: var(--bg);
              border-radius: 12px;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-top: 15px;
              padding-bottom: 20px;
              cursor: pointer;

              small {
                font-size: 12px;
                color: #696969;
              }

              span {
                font-size: 20px;
              }

              .task-labels-container {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 100%;
                margin-top: 8px;
                align-items: center;

                .task-label {
                  width: 70%;
                  font-size: 14px;
                  color: white;
                  padding: 4px 3px;
                  border-radius: 5px;
                  text-align: center;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  
                  &.cat-work {
                    background-color: #3b82f6;
                  }

                  &.cat-health {
                    background-color: #10b981;
                  }

                  &.cat-personal {
                    background-color: #ec4899;
                  }

                  &.cat-study {
                    background-color: #8b5cf6;
                  }

                  &.cat-finance {
                    background-color: #f59e0b;
                  }
                }

                .more-count {
                  font-size: 10px;
                  color: #666;
                  margin-top: 2px;
                }
              }

              &:hover {
                background-color: rgb(250, 168, 209);
                border-color: #ec4899;
                color: var(--bg);
              }

              &.active {
                border: 2px solid #5c6bc0;
                background: #f5f6fd;
                color: #2c45d3;
              }
            }
          }

        }
      }
    }

    .task-container {
      flex: 1;
      background: fuchsia;
      border: none;
      border-radius: 15px;
      padding-top: 10px;
      padding-left: 30px;
      padding-bottom: 20px;
      color: aliceblue;

      .task-above {
        display: flex;
        justify-content: space-between;

        .para {
          margin-right: 30px;
          font-size: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
          border: 1px solid transparent;
          border-radius: 8px;
          padding-left: 7px;
          padding-right: 7px;
          cursor: pointer;

          &:hover {
            background-color: #ec4899;
            color: white;
          }
        }
      }

      .task-card {
        padding: 15px;
        padding-top: 1px;
        padding-bottom: 25px;
        background-color: rgb(231, 26, 231);
        border: none;
        border-radius: 10px;
        margin-bottom: 10px;
        display: block;
        align-items: center;
        margin-right: 30px;

        .tag {
          padding: 4px 10px;
          border-radius: 6px;
          font-size: 0.75rem;
          font-weight: 600;
          color: white;

          &.cat-work {
            background-color: #3b82f6;
          }

          &.cat-health {
            background-color: #10b981;
          }

          &.cat-personal {
            background-color: #ec4899;
          }

          &.cat-study {
            background-color: #8b5cf6;
          }

          &.cat-finance {
            background-color: #f59e0b;
          }
        }

      }

      .no-tasks{
        padding: 20px;
        .no{
          font-size: larger;
          justify-self: center;
          color: #696969;
        }
        .adding{
          color: #2c45d3;
          cursor: pointer;
          justify-self: center;

          &:hover{
            text-decoration:underline;
          }
        }
      }

      .category-legend {
        margin-top: 30px;
        margin-right: 30px;
        border-top: 1px solid #e2e2e4;

        .legend-item {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 15px;

          .dot {
            width: 15px;
            height: 15px;
            border-radius: 30%;

            &.cat-work {
              background-color: #3b82f6;
            }

            &.cat-health {
              background-color: #10b981;
            }

            &.cat-personal {
              background-color: #ec4899;
            }

            &.cat-study {
              background-color: #8b5cf6;
            }

            &.cat-finance {
              background-color: #f59e0b;
            }
          }

          font-size: 15px;
          line-height: 1;
        }
      }
    }
  }

  .modal-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .modal-box {
      width: 80%;
      max-height: 90vh;
      margin-top: 0;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1024px) {
  .calender {

    .main-layout {
      flex-direction: column;
      gap: 20px;

      .calendar-container {
        flex-direction: column;

        .calendar-card {
          @media (max-width:720px) {
            
            &.Monthly {
              width: 65%;
            }
            &.Weekly{
              //flex-direction: column;
            
              .calendar-grid{
                display: block;
              }

              .week-day-card{
                width: 200px;
                justify-self: center;
                margin-top: 20px;
              }
            }
          }

          // &.Weekly {
          //   .calendar-grid {
          //     grid-template-columns: repeat(7, 1fr);
          //     gap: 5px;

          //     .week-day-card {  
          //       font-size: 0.8rem;
          //     }
          //   }
          // }
        }
      }

      .task-container {
        //width: 92%;
        margin-bottom: 30px;
      }
    }
  }
}