@use '../../App.scss' as *;
@use '../../mixins' as *;

.reset {
  min-height: 100vh;
  padding-top: 20px;
  width: 100%;
  max-width: 1508px;
  overflow-x: hidden;
  text-align: center;
  background: linear-gradient(55deg, $dark-bg, aliceblue);
  
  .grid {
    @include grid-style(linear-gradient(135deg,rgba(255, 255, 255, 0.85),rgba(241, 245, 255, 0.75)));
    justify-self: center;
    
    .email-input,.password-input {
      @include input-style();
      margin-left: 85px;
  
      .input-field {
        @include fields();
        
      }
    }
    
    .error {
      color: darkred;
      margin-top: 5px;
      justify-self: center;
      padding-left: 70px;
      padding-right: 70px;
      margin-left: 70px;
      text-align: center;
    }

    .request-btn {
      @include button-style(black);
      background: linear-gradient(55deg, $dark-bg, fuchsia);
      width: 200px;
      justify-self: center;
      margin: 30px 0;

      &:hover {
        background: linear-gradient(55deg, rgb(171, 210, 244), $dark-bg);
        transform: scale(1.2);
      }
    }

    .auth-link {
      @include auth-link();
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 50, 0.3);

      background: rgba(255, 255, 255, 0.2);
      color: navy;

      backdrop-filter: blur(6px);
      transition: all 0.25s ease;

      &:hover {
        background: rgba(0, 0, 128, 0.1);
        border-color: navy;
        color: #000080;
        transform: scale(1.2);
      }
    }
  }
}

@media(max-width:1024px){
  .reset{
    .grid{
      max-width: 400px;
      width: 90%;

      .email-input,.password-input{
        width: 400px;
        width: 100%;
        margin-left: 0;
        justify-content: center;
      
        .input-field{
          width: 50%;
        }
      }

      .error{
        padding-left: 0;
        padding-right: 0;
        margin-left: 100px;
      }

    }

  }
}
