@use '../../App.scss' as *;
@use '../../mixins' as *;

.form {
  text-align: center;
  background: linear-gradient(360deg, white, navy);
  min-height: 700px;
  width: 100%;
  max-width: 1528px;
  color: aliceblue;
  overflow-x: hidden;

  .grid {
    @include grid-style(linear-gradient(55deg, black, aliceblue));

    .name-input {
      @include input-style();

      .input-field {
        @include fields();
        margin-left: 85px;
      }
    }

    .email-input {
      @include input-style();

      .input-field {
        @include fields();
        margin-left: 90px;
      }
    }

    .assistant-input {
      @include input-style();

      .input-field {
        @include fields();
        margin-left: 18px;
      }
    }

    .error {
      color: darkred;
      display: block;
      margin: -10px 0 0 120px;
    }

    .input-selector {
      @include input-style();

      .selector-field {
        
        height: 40px;
        max-width: 265px;
        width: 21.1%;
        margin-left: 16px;
  
        .update-select__control {
          border: 1px solid #d3deee;
          border-radius: 8px;
          cursor: pointer;

          &--is-focused {
            outline: none;
            border-color: $accent;
            box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
          }
        }

        .update-select__menu {
          background-color: #1935605f;

        }

        .update-select__option {
          background-color: transparent;
          color: white;
          cursor: pointer;

          &--is-focused {
            background-color: #1935605f;
          }

          &--is-selected {
            background: var(--card);
            color: var(--subtext);
          }

        }
      }
    }

    .update-btn {
      @include button-style(purple);
      background: linear-gradient(45deg, purple, royalblue);
      width: 130px;
      height: auto;
      justify-self: center;
      margin: 10px;
      margin-top: 30px;

      &:hover {
        background: linear-gradient(45deg, royalblue, purple);
        transform: scale(1.2);
      }
    }

    .auth-link {
      @include auth-link();
    }
  }
}

@media(max-width:1024px){
  .form{
    .grid{
      max-width: 400px;
      width: 90%;
      .name-input,.email-input,.assistant-input,.input-selector{
        width: 400px;
        width: 100%;
        margin-left: 0;
        justify-content: center;

        .input-field{
          width: 50%;
        }
        .selector-field{
          width: 53%;
        }
      }

    }
  }
}